.countrySelector {
    display: flex;
    flex-direction: column; 
    margin-bottom: 1rem;
    
  }
  
  .label {
    font-size: 16px;
    color: #555;
    font-weight: bold;
  }
  
  .dropdown {
    display: flex;
    flex-wrap: wrap; 
    align-items: center;
    gap: 0.5rem; 
    padding: 0.3rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    width: 200px; 
  }
  
  .selectInput {
    flex: 1; 
    padding: 0.3rem; 
    font-size: 0.8rem; 
    border: none;
    outline: none;
    background: transparent;
  }
  
  .chip {
    display: flex;
    align-items: center;
    background-color: rgba(163, 201, 255, 0.567);
    color: #220d9a;
    border-radius: 12px; 
    padding: 0.3rem 0.8rem; 
    font-size: 0.8rem;
  }
  
  .removeButton {
    background: none;
    border: none;
    margin-left: 0.3rem; 
    font-size: 0.8rem;
    cursor: pointer;
    color: #1879f8;
  }